<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img src="/assets/images/odilabs-1.svg" alt="ODI Labs" id="odi-labs" />
          <p>An <a href="http://theodi.org/labs">ODI Labs</a> experiment</p>
        </div>
        <div class="col-md-6 text-md-right">
          <img src="/assets/images/odine-logo.svg" alt="ODINE" id="odine-logo" />
          <p class="small">Development of this tool was partly supported by the <a href="https://opendataincubator.eu/">ODINE</a> project, co-funded by the European Union’s Horizon 2020 Research and Innovation Programme under the Grant Agreement 644683.</p>
        </div>
      </div>
    </div>
  </div>
</footer>

<script>
var logos = [
{% for i in (1..8) %}
  '/assets/images/odilabs-{{ i }}.svg',
{% endfor %}
]

var logo = logos.splice(Math.floor(Math.random() * logos.length), 1)[0]
$('#odi-labs').attr('src', logo)

</script>
