---
---

@import 'styles';

a {
  color: $brand-primary;
}

a:hover {
  text-decoration: none;
}

#nav-button {
  position: absolute;
  right: 10px;
  color: white;
}

#CollapsingNavbar {
  clear: both;
}

body > .container {
  padding-top: 40px;
}

$footer-height: 50px;

.footer {
  text-align: center;
  ul {
    margin: 0px;
  }

  img {
    max-height: 40px;
  }
}

nav, footer {
  background-color: $brand-primary;
  a {
    color: white;
  }
}

.btn-primary {
  background-color: $brand-primary;
  border-color: $brand-primary;
  color: $brand-secondary;
}

.btn-primary:hover {
  background-color: $brand-secondary;
  border-color: $brand-secondary;
  color: $brand-primary;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: $footer-height;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: $footer-height;
  line-height: $footer-height; /* Vertically center the text there */
}
