---
---

@import 'styles';

a {
  color: $brand-primary;
}

a:hover {
  text-decoration: none;
}

#nav-button {
  position: absolute;
  right: 10px;
  color: white;
}

#CollapsingNavbar {
  clear: both;
}

body > .container {
  padding-top: 40px;
}

nav, footer {
  background-color: $brand-primary;
  a {
    color: white;
  }
}

.btn-primary {
  background-color: $brand-primary;
  border-color: $brand-primary;
  color: $brand-secondary;
}

.btn-primary:hover {
  background-color: $brand-secondary;
  border-color: $brand-secondary;
  color: $brand-primary;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
}

footer {
  color: #fff;
  background-color: $brand-primary !important;
  padding: 20px 0;

  a {
    color: #fff;
    border-bottom: dotted 1px #fff;
    text-decoration: none;

    &:hover {
      color: #fff;
      border-bottom: solid 1px #fff;
      text-decoration: none;
    }
  }

  #odine-logo {
    width: 250px;
    margin-bottom: 10px;
  }

  #odi-labs {
    width: 175px;
    margin: -10px 0 0 -10px;
  }
}
